<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="large-6 medium-6 columns">
    	<%= f.input :name, placeholder: 'Name of your shopping list' %>
    </div>
  	 <div class="large-6 medium-6 columns">
  	 	<div class="row collapse">
  	 		<%= f.input :date %>
  	 	</div>
  	 </div>
  </div>
    <%= f.input :description %>
  
    
   

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
