<% content_for :title do %>All Lists<% end %>

<% content_for :sidebar do %>
  
  <%= link_to 'Create List', new_list_path, :class=>"button" %>

<% end %>

<h1>Listing my shopping lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= link_to list do %><%= list.name %><% end %> <span class="secondary radius label">20</span></td>
        <td><%= list.description %></td>
        <td><%= list.date %></td>
        <td><span data-tooltip class="has-tip" title="Show List"><%= link_to list do %><i class="fi-eye size-24"></i><% end %></span></td>
        <td><%= link_to edit_list_path(list) do %><i class="fi-pencil size-24"></i><% end %></td>
        <td><%= link_to list, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fi-trash size-24"></i><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>