<% content_for :title do %>Listing Products<% end %>

<% content_for :sidebar do %>
  
  <div class="panel">
  	<p>
	  <strong>Name:</strong>
	  <%= @list.name %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @list.description %>
	</p>

	<p>
	  <strong>Date:</strong>
	  <%= @list.date.to_formatted_s(:long) %>
	</p>

	<%= link_to edit_list_path(@list) do %><i class="fi-pencil size-18"></i> Edit<% end %>
	
  </div>

  <%= link_to 'Back', lists_path, :class => 'button small secondary' %>
  
  <br>

  <a href="#" data-reveal-id="shortcuts-modal">View Shortcuts</a>

  <div id="shortcuts-modal" class="reveal-modal large" data-reveal>
	  <h2>Use the Shortcuts</h2>
	  <p class="lead">Fast list editing...</p>
	  <p><kbd>Cmd</kbd> + <kbd>A</kbd> : Add new Product</p>
	  <p><kbd>Cmd</kbd> + <kbd>D</kbd> : Delete latest Product</p>
	  <p><kbd>Cmd</kbd> + <kbd>E</kbd> : Edit List Settings</p>
	  <a class="close-reveal-modal">&#215;</a>
  </div>

<% end %>

  
<%= form_for @list, :html => { :class => 'form-horizontal' } do |f| %>

  <h3>Items</h3>
  <div id="list-products" class="row collapse">
  	<div class="large-12 columns">
    <ol class="custom-list-class">
      <%= f.fields_for :list_items do |list_item| %>
      	<div class="row collapse">
      		<div class="large-12 columns">
        		<%= render 'list_item_fields', f: list_item %>
        	</div>
        <div>
      <% end %> 
    </ol>
    </div>
    
    <%= link_to_add_association 'add product', f, :list_items, 'data-association-insertion-node' => "#list-products ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|list_item| list_item.build_product; list_item }, :class => "button secondary" %> 
    <%= f.button :submit %>
    
  </div>
  
  

<% end %>
